@import "~@/assets/scss/abstracts/mixins/get-color";

.placeholder,
%placeholder {
    @apply placeholder-0-light dark:placeholder-0-dark;
}

.text-placeholder,
%text-placeholder {
    @apply text-placeholder-0-light dark:text-placeholder-0-dark;
}

%input-shadow {
    box-shadow: inset 0 2px 2px hsl(0deg 0% 0% / 15%), 0 2px 0 hsl(0deg 0% 100% / 40%);

    :root.dark & {
        box-shadow: inset 0 2px 2px hsl(0deg 0% 0% / 40%), 0 2px 0 hsl(0deg 0% 100% / 15%);
    }
}

.input,
%input {
    @extend %input-shadow;
    @extend %placeholder;
    @apply text-gray-900 dark:text-gray-100 py-2 px-3;
    @include get-color("bg", 1);

    line-height: 1.43;
    @apply rounded dark:border-opacity-75;

    &:focus,
    &[focused],
    &[active] {
        @apply outline-none ring-2 ring-blue-400;
    }

    &[type="password"]:not(:placeholder-shown) {
        @extend %input;
        @apply tracking-widest;
    }
}

select:invalid {
    @extend %text-placeholder;
    opacity: 1;
}