%left-label-active.active, %left-label-active:active {
  // box-shadow: inset 5px 0 0 0 #66f;
  @apply opacity-80 bg-sky-100;

  color: #1458f6 !important;
  border-radius: 1rem;

  :root.dark & {
    @apply opacity-80 bg-coolGray-800;

    color: #6891f1 !important;
  }
}

%text-opaque-active.active, %text-opaque-active:active {
  opacity: 100%;
}

%icon-active.active {
  color: #1e40af;
}
